<div class="footer-main">
    <div class="W1260">
        <div class="fm-top">
            <div class="fm-top-left">
                <div class="linkList">
                    <div class="title">
                        <h2>会员权益</h2>
                    </div>
                    <div class="listItem">
                        <!-- <div class="item">
                            <a href="#"></a>
                        </div> -->
                    </div>
                </div>
                <div class="linkList">
                    <div class="title">
                        <h2>帮助中心</h2>
                    </div>
                    <div class="listItem"></div>
                </div>
                <div class="linkList">
                    <div class="title">
                        <h2>用户服务</h2>
                    </div>
                    <div class="listItem">
                        <div class="item">
                            <a href="#">Q&A</a>
                        </div>
                        <div class="item">
                            <a href="#">帮助说明</a>
                        </div>
                        <div class="item">
                            <a href="#">会员中心</a>
                        </div>
                        <div class="item">
                            <a href="#">门店查询</a>
                        </div>
                    </div>
                </div>
                <div class="linkList">
                    <div class="title">
                        <h2>相关资讯</h2>
                    </div>
                    <div class="listItem">
                        <div class="item">
                            <a href="#">Giant车队</a>
                        </div>
                        <div class="item">
                            <a href="#">领先技术</a>
                        </div>
                        <div class="item">
                            <a href="#">新闻中心</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="fm-top-right">
                <div class="tell">
                    <div class="tellNum">800-8288868</div>
                    <div class="tips">(请用座机拨打)</div>
                </div>
                <div class="phone">
                    <div class="phoneNum">400-8282690</div>
                    <div class="tips">(请用手机拨打)</div>
                </div>
                <div class="codeList">
                    <div class="codeWrap">
                        <div class="diyue item">
                            <div class="btn">
                                <i class="iconfont icon-weixin"></i>
                            </div>
                            <div class="code">
                                <div class="codeImg"></div>
                                <div class="title">
                                    <span>捷安特订阅号</span>
                                </div>
                            </div>
                        </div>
                        <div class="guanfangfuwu item">
                            <div class="btn">
                                <i class="iconfont icon-weixin"></i>
                            </div>
                            <div class="code">
                                <div class="codeImg"></div>
                                <div class="title">
                                    <span>捷安特订阅号</span>
                                </div>
                            </div>
                        </div>
                        <div class="qixingdingyue item">
                            <div class="btn">
                                <i class="iconfont icon-weixin"></i>
                            </div>
                            <div class="code">
                                <div class="codeImg"></div>
                                <div class="title">
                                    <span>捷安特订阅号</span>
                                </div>
                            </div>
                        </div>
                        <div class="weibo item">
                            <div class="btn">
                                <i class="iconfont icon-weibo"></i>
                            </div>
                            <div class="code">
                                <div class="codeImg"></div>
                                <div class="title">
                                    <span>捷安特订阅号</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="toRenGongKeFu">
                    <a href="#"><i class="iconfont icon-kefu"></i>在线客服</a>
                </div>
            </div>
        </div>
        <div class="fm-bottom">
            <h4 class="linkTitle">捷安特相关站点链接：</h4>
            <div class="linkWrap">
                <ul class="linkList link-border">
                    <li class="link-item">
                        <a href="#">Liv</a>
                        <div class="iconLinkWrap">
                            <i class="livNvShengDC iconfont icon-weixin">
                                <div class="codeWrap">
                                    <div class="codeImg"></div>
                                    <div class="title">
                                        <span>Liv女生的单车</span>
                                    </div>
                                </div>
                            </i>
                            <i class="livNvShengDCFW iconfont icon-weixin">
                                <div class="codeWrap">
                                    <div class="codeImg"></div>
                                    <div class="title">
                                        <span>Liv女生的单车服务号</span>
                                    </div>
                                </div>
                            </i>
                        </div>
                    </li>
                    <li class="link-item"><a href="#">捷安特电动车</a></li>
                    <li class="link-item"><a href="#" title="莫曼顿自行车 电动车官方网站">莫曼顿 momentum</a></li>
                    <li class="link-item"><a href="#">全国加盟</a></li>
                </ul>
                <ul class="linkList link-border">
                    <li class="link-item"><a href="#">捷安特旅行社</a></li>
                    <li class="link-item"><a href="#">基金会</a></li>
                    <li class="link-item"><a href="#">e-Training</a></li>
                    <li class="link-item"><a href="#">官方多媒体云盘</a></li>
                    <li class="link-item"><a href="#">Giant Right Ride</a></li>
                </ul>
                <ul class="linkList link-border">
                    <li class="link-item">
                        <a href="#">捷安特俱乐部</a>
                        <div class="iconLinkWrap">
                            <i class="julebu iconfont icon-ico">
                                <div class="codeWrap">
                                    <div class="codeImg"></div>
                                    <div class="title">
                                        <span>捷安特俱乐部</span>
                                    </div>
                                </div>
                            </i>
                        </div>
                    </li>
                    <li class="link-item"><a href="#">捷安特赛事</a></li>
                    <li class="link-item"><a href="#">捷安特嘉年华</a></li>
                    <li class="link-item"><a href="#">INEED IT 智能车APP</a></li>
                    <li class="link-item"><a href="#">电动车APP</a></li>
                    <li class="link-item"><a href="#">捷安特骑行 APP</a></li>
                </ul>
                <ul class="linkList link-border">
                    <li class="link-item"><a href="#">捷安特旅行社</a></li>
                    <li class="link-item"><a href="#">基金会</a></li>
                    <li class="link-item"><a href="#">e-Training</a></li>
                    <li class="link-item"><a href="#">官方多媒体云盘</a></li>
                    <li class="link-item"><a href="#">Giant Right Ride</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="copy">
        <p>&copy; 捷安特（昆山）有限公司 <a href="#">苏ICP备14041075号-4</a></p>
    </div>
</div>