<div class="W1380">
    <div class="h-top">
        <div class="left">
            <a href="#" class="toLiv"></a>
            <a href="#" class="toMomentum"></a>
            <a href="#" class="toTev"></a>
        </div>
        <div class="sign">
            <a href="#"><i class="iconfont icon-person"></i>登陆/注册</a>
        </div>
    </div>
    <div class="h-bottom">
        <div class="logo">
            <a href="../views/index.html"></a>
        </div>
        <nav class="h-nav">
            <a href="#" class="nav-item">整车</a>
            <a href="#" class="nav-item">骑行装备</a>
            <a href="#" class="nav-item">新闻资讯</a>
            <a href="#" class="nav-item">领先技术</a>
            <a href="#" class="nav-item">车队车手</a>
            <a href="#" class="nav-item">门店</a>
            <a href="#" class="nav-item"><i class="iconfont icon-gouwuche"></i>在线商城</a>
        </nav>
        <div class="search">
            <div class="search-btn"><i class="iconfont icon-ai219"></i></div>
            <div class="mask">
                <div class="inputWrap">
                    <div class="box">
                        <i class="iconfont icon-ai219"></i>
                        <input type="text" class="searchText" placeholder="站内搜索，请输入关键词">
                        <a href="#" class="searchTo">搜索</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>