<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>GIANT</title>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_1444496_79h0qj5mx6r.css">
<link rel="stylesheet" href="../static/css/swiper.css">
<link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="header"></div>
    <div class="content">
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- <div class="swiper-slide">
                        <img src="/static/images/index/banner01-index-big.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <video src="/static/images/index/2017_Giant_Propel_Homepage-1.mp4" loop preload autoplay muted>
                    </div> -->
                </div>
                <!-- 分页器 -->
                <div class="swiper-pagination"></div>
                
                <!-- 导航按钮 -->
                <div class="swiper-button-prev btn-left">
                    <i class="iconfont icon-left"></i>
                </div>
                <div class="swiper-button-next btn-right">
                    <i class="iconfont icon-right"></i>
                </div>
            </div>
        </div>
        <div class="smallImg">
            <div class="smImgWrap">
                <div class="smallBox">
                    <img src="/static/images/index/small01.jpg">
                    <div class="title">
                        <i></i>
                        <h2>铺设路面</h2>
                        <p>ON-ROAD</p>
                    </div>
                </div>
                <div class="smallBox">
                    <img src="/static/images/index/small02.jpg">
                    <div class="title">
                        <i></i>
                        <h2>混合路面</h2>
                        <p>X-ROAD</p>
                    </div>
                </div>
                <div class="smallBox">
                    <img src="/static/images/index/small03.jpg">
                    <div class="title">
                        <i></i>
                        <h2>山野林道</h2>
                        <p>OFF-ROAD</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="guideto">
            <div class="W1280">
                <div class="mainWrap">
                    <span>听从心的召唤，帮您找到称心如意的爱车</span>
                    <a href="#" class="guidetoBike">去选车</a>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="W1280">
                <div class="bicycle">
                    <div class="title">
                        <h2>BICYCLE</h2>
                        <a href="#">查看更多<i></i></a>
                    </div>
                    <div class="bicycle-wrap">
                        <a href="#" class="bicycle-big">
                            <div class="imgWrap">
                                <img src="/static/images/index/bicycle01-big.jpg" alt="">
                            </div>
                            <div class="bicycle-title">
                                <div class="title-top">
                                    <span>新品</span>
                                    <h3>TCR ADV 2 DISC</h3>
                                </div>
                                <div class="title-bottom">
                                    <span>PERFORMANCE / ON-ROAD</span>
                                </div>
                            </div>
                        </a>
                        <div class="bicycle-right">
                            <a href="#" class="bicycle-small-t">
                                <div class="imgWrap">
                                    <img src="/static/images/index/bicycle02-small.jpg" alt="">
                                </div>
                                <div class="bicycle-title">
                                    <div class="title-top">
                                        <span>新品</span>
                                        <h3>REVOLT ADV 2</h3>
                                    </div>
                                    <div class="title-bottom">
                                        <span>PERFORMANCE / X-ROAD</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="bicycle-small-b">
                                <div class="imgWrap">
                                    <img src="/static/images/index/bicycle03-small.jpg" alt="">
                                </div>
                                <div class="bicycle-title">
                                    <div class="title-top">
                                        <span>新品</span>
                                        <h3>REVOLT ADV 0</h3>
                                    </div>
                                    <div class="title-bottom">
                                        <span>PERFORMANCE / X-ROAD</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="news-big">
                <div class="title W1280">
                    <h2>NEWS</h2>
                    <a href="#">查看更多<i></i></a>
                </div>
                <div class="newsWrap">
                    <div class="W1260">
                        <div class="news-left-img">
                            <img src="/static/images/index/news01-big.jpg" alt="">
                        </div>
                        <div class="news-right">
                            <div class="list">
                                <span>公告</span>
                            </div>
                            <div class="list">
                                <h2>CADEX 荣耀而来，中国首发！</h2>
                            </div>
                            <div class="list">
                                <p>THIS IS CADEX</p>
                            </div>
                            <div class="list">
                                <a href="#">阅读更多</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-small">
                <div class="W1260">
                    <a href="#" class="news-item" title="Giant赞助Team CCC车手Simon Geschke环波兰自行车赛荣获KOM">
                        <div class="imgwrap">
                            <img src="/static/images/index/news01-small.jpg" alt="">
                        </div>
                        <div class="news-list">
                            <div class="title-small">Giant车队</div>
                            <h3>Giant赞助Team CCC车手Simon Geschke环球波兰自行车赛荣获KOM</h3>
                            <p>为期七天的比赛在Bukowina Tatrzanska落下帷幕</p>
                            <span>阅读更多</span>
                        </div>
                    </a>
                    <a href="#" class="news-item" title="环法S1：Giant赞助Team CCC主将Greg Van Avermaet获得圆点衫">
                        <div class="imgwrap">
                            <img src="/static/images/index/news02-small.jpg" alt="">
                        </div>
                        <div class="news-list">
                            <div class="title-small">Giant车队</div>
                            <h3>Giant赞助Team CCC车手Simon Geschke环球波兰自行车赛荣获KOM</h3>
                            <p>为期七天的比赛在Bukowina Tatrzanska落下帷幕</p>
                            <span>阅读更多</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="limitwidth">
                <a href="#" class="item QRcode">
                    <div class="item-img"></div>
                    <div class="item-message">
                        <h4>GIANT QRcode</h4>
                        <p>车主身份ID，扫描QR绑定您的爱车享受更贴心的服务。</p>
                    </div>
                </a>
                <a href="#" class="item APP">
                    <div class="item-img"></div>
                    <div class="item-message">
                        <h4>捷安特骑行 APP</h4>
                        <p>专业级车友APP，帮助你实现更好的骑乘方案。骑行挑战，俱乐部活动，门店服务</p>
                    </div>
                </a>
                <a href="#" class="item family">
                    <div class="item-img"></div>
                    <div class="item-message">
                        <h4>GIANT FAMILY</h4>
                        <p>加入捷安特大家庭，与3000万车友享受骑乘的乐趣。</p>
                    </div>
                </a>
            </div>
            <div class="featurelist">
                <div class="W1260">
                    <a href="#" class="list-item technology">领先技术</a>
                    <a href="#" class="list-item rule">退换货规则</a>
                    <a href="#" class="list-item QRcode">Giant QRcode</a>
                    <a href="#" class="list-item application">捷安特应用</a>
                    <a href="#" class="list-item store">4000家门店</a>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>


<script src="../static/scripts/jquery-1.8.3.js"></script>
<script src="../static/scripts/swiper.js"></script>
<script src="../static/scripts/index.js"></script>
</body>
</html>