<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>GIANT</title>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_1444496_ibmgrrt9bjs.css">
<link rel="stylesheet" href="../static/css/swiper.css">
<link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="header"></div>
    <div class="content">
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- <div class="swiper-slide">
                        <img src="/static/images/index/banner01-index-big.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <video src="/static/images/index/2017_Giant_Propel_Homepage-1.mp4" loop preload autoplay muted>
                    </div> -->
                </div>
                <!-- 分页器 -->
                <div class="swiper-pagination"></div>
                
                <!-- 导航按钮 -->
                <div class="swiper-button-prev btn-left">
                    <i class="iconfont icon-left"></i>
                </div>
                <div class="swiper-button-next btn-right">
                    <i class="iconfont icon-right"></i>
                </div>
            </div>
        </div>
        <div class="smallImg">
            <div class="smImgWrap">
                <!-- 4 1 5 -->
                <div class="smallBox">
                    <img src="/static/images/index/news04-small.jpg">
                    <div class="title">
                        <i></i>
                        <h2>铺设路面</h2>
                        <p>ON-ROAD</p>
                    </div>
                </div>
                <div class="smallBox">
                    <img src="/static/images/index/news01-small.jpg">
                    <div class="title">
                        <i></i>
                        <h2>混合路面</h2>
                        <p>X-ROAD</p>
                    </div>
                </div>
                <div class="smallBox">
                    <img src="/static/images/index/news05-small.jpg">
                    <div class="title">
                        <i></i>
                        <h2>山野林道</h2>
                        <p>OFF-ROAD</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div id="footer"></div>


<script src="../static/scripts/jquery-1.8.3.js"></script>
<script src="../static/scripts/swiper.js"></script>
<script src="../static/scripts/index.js"></script>
</body>
</html>