<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
    <div class="resHeader">
        <div class="logoWrap">
            <div class="giantLogo"></div>
            <div class="livLogo"></div>
            <div class="mmLogo"></div>
        </div>
    </div>
    <div class="login_card">
        <div class="title">账号注册</div>
        <input type="text" id="phone" name="" placeholder="请输入11位手机号码" autocomplete="no">
        <input type="password" id="password" name="" placeholder="账号密码">
        <input type="text" id="nickname" placeholder="请输入昵称（组合：数字/字母/下划线_）" autocomplete="no">
        <input type="text" id="checked" name="" placeholder="请输入：'确认注册'  4字">
        <div class="btn_group">
            <button type="button" class="btn btn_register">立即注册</button>
        </div>
        <div class="register_tips">
            点击注册，即表示您同意 <a href="#">捷安特用户服务协议及隐私政策</a>
        </div>
        <div class="to_login">
            <a href="./login.html">有捷安特账号？直接登录</a>
        </div>
    </div>
    <div class="login-tips">
        <div class="tipsBox">
            <div class="tipsTxt">!!!!</div>
            <div class="btn">确认</div>
        </div>
    </div>
</body>
</html>